* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.post_summary {
    padding: 0 5%;
    margin-top: 3rem;
    width: 100%;
    .post_detail {
        padding: 0 5%;
        margin-top: 3rem;
    }
    h5 {
        padding-top: 2rem;
        text-align: center;
    }
}
.post_list {
    display: flex;
}
.postImage {
    width: 100%;
}
.image {
    width: 100%;
}
// .blog_details {
//     width: 2rem;
// }